* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: aqua;
}

footer {
    background-color: #000000;
    color: white;
    min-height: 400px;
}

/* Classi Main */

.bluBackgr {
    background-color: #B4D0E7;
    padding-top: 70px;
    height: 700px;
} 

.bluContainer {
    background-color: blue;
    display: flex;
    flex-direction: column;
    margin: 70px 15% 0 15%;
    min-height: 560px;
}

.bContainer {
    display: flex;
    background-color: teal;
}

.bContainerL {
    width: 50%;
}

.bContainerR {
    width: 50%;
}

.abbonamenti {
    background-color: greenyellow;
}

.abbCelle {
    display: flex;
    justify-content: space-between;
}

.cella1, .cella2, .cella3 {
    background-color: green;
    min-height: 800px;
    width: 30%;
}

.cella4 {
    background-color: green;
    min-height: 250px;
}

    /* Terzo container */
    .partner {
        background-color: gold;
        display: flex;
        min-height: 500px;
    }

    /* Quarto container */
    .business {
        background-color: royalblue;
    }

    .wrap {
        display: flex;
        flex-wrap: wrap;
        min-height: 800px;
        justify-content: space-between;
    }

    .cellaWr {
        background-color: blueviolet;
        width: calc(95% / 3);
        margin-top: 25px;
    }

    /* Sesto container */
    .aziendePartner {
        background-color: rosybrown;
        display: flex;
        min-height: 500px;
    }

    .aziende {
        width: 30%;
        display: flex;
        flex-wrap: wrap;
        background-color: palegreen;
    }

    .aziendeC {
        width: 40%;
    }

    .quadrato {
        background-color: yellow;
        width: calc(100% / 2);
    }

    /* Settimo container */
    .container7 {
        background-color: #B4D0E7;
        min-height: 350px;
    }

    .c7 {
        display: flex;
        justify-content: space-between;
        height: 300px;
        align-items: center;
    }

    /* Ottavo container */
    .faq {
        margin: 25px 0;
    }

    /* Nono container */
    .container9 {
        display: flex;
        justify-content: space-between;
    }

    .linkContainer {
        display: flex;
        flex-direction: column;
    }
/* Classi Generiche */

.m20 {
    margin: 0 20%;
}

.mTop50 {
    margin-top: 50px;
}