* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    z-index: 1;
    width: 100%;
    height: 80px;
    background-color: white;
    box-shadow: 0px 0px 2px 0px #0000006e;
}

footer {
    background-color: #000000;
    color: white;
    min-height: 500px;
}

h1 {
    font-size: 78px;
    font-weight: 800;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 1.5em;
}

ul {
    list-style: none;
}

li {
    display: flex;
    padding: 10px 0;
}

/* Classi Footer */

.nav {
    display: flex;
    align-items: center;
    height: 100%;
}

.nav > a {
    text-decoration: none;
    color: black;
}

.navHov:hover {
    border-bottom: 2px solid;
    height: 100%;
    line-height: 80px;
}

.bStart {
    font-size: 15px;
    padding: 5px 10px;
    margin-right: 10px;
}

.btnBlue {
    background-color: #0161FF;
    border: 4px solid #0161FF;
    color: white;
}

.btnBlue:hover {
    background: white;
    color: #0161FF;
}

/* Classi Main */

.bluBackgr {
    position: relative;
    background-color: #B4D0E7;
    padding-top: 70px;
    height: 840px;
    margin-bottom: 150px;
} 

.bluContainer {
    display: flex;
    flex-direction: column;
    margin: 70px 15% 0 15%;
    min-height: 560px;
}

.bContainer {
    display: flex;
}

.bContainerL {
    width: 30%;
}

.bContainerR {
    width: 70%;
}

.jumbo {
    width: 100%;
}

#freccia {
    position: absolute;
    bottom: 1em;
}
    /* Secondo container */
input[type="radio"] {
    width: 1.4em;
    height: 1.4em;
    margin-right: 5px;
    vertical-align: text-bottom;
}

/* .abbonamenti {
    background-color: greenyellow;
} */

.border {
    border-bottom: 2px solid #d3d3d3cc;
    text-align: center;
    padding: 10px 0;
}

.abbCelle {
    display: flex;
    justify-content: space-between;
}

.cella {
    min-height: 800px;
    width: 30%;
    border: 2px solid #d3d3d3cc;
}

.intCella {
    padding: 20px 25px;
}

li > i {
    margin-right: 5px;
}

.btnCella {
    font-size: 15px;
    padding: 8px 45px;
    width: 100%;
}

.hrCella {
    width: 20%;
    margin: 35px 0;
    border: 1px solid #d3d3d3cc;
}

.cella4 {
    min-height: 250px;
    border: 2px solid #d3d3d3cc;
}

    /* Terzo container */
    .partner {
        display: flex;
        min-height: 500px;
        padding: 200px 0;
    }

    .btnGray {
        background-color: white;
        border: 1px solid black;
        padding: 13px 20px;
        font-size: 17px;
    }

    .btnGray:hover {
        border: 4px solid;
    }

    /* Quarto container */
    .cellaWr > img {
        width: 100%;
    }

    .wrap {
        display: flex;
        flex-wrap: wrap;
        min-height: 800px;
        justify-content: space-between;
    }

    .cellaWr {
        width: calc(95% / 3);
        margin-top: 25px;
    }

    /* Sesto container */
    .aziendePartner {
        display: flex;
        height: 50vh;
    }

    .aziende {
        width: 32%;
        display: flex;
        flex-wrap: wrap;
        background-color: palegreen;
    }

    .aziendeC {
        width: 36%;
        background: #F5F5F5;
        padding: 50px 80px;
        overflow: auto;
        max-height: 600px;
    }

    .quadrato {
        background-color: yellow;
        width: calc(100% / 2);
        height: 50%;
        display: flex;
        justify-content: center;
    }

    .quadrato > img {
        width: 70%;
        filter: invert(1);
    }

    #imgFix {
        object-fit: none;
    }

    .qGreen {
        background: #A2D39B;
        border: 10px solid #D2E9CD;
    }

    .qViolet {
        background: #60092B;
    }

    .qBlue {
        background: #0093CE;
    }

    .qRed {
        background: #FF1B1C;
    }

    .qLightRed {
        background: #D50120;
    }
    .qLightBlue {
        background: #B4D0E7;
    }
    .qStrongBlue {
        background: #0D2481;
    }
    .qYellow {
        background: #FFD830;
    }

    /* Settimo container */
    .container7 {
        background-color: #B4D0E7;
        min-height: 350px;
    }

    .btnTrial {
        padding: 13px 0px;
        font-size: 17px;
        width: 400px;
        border: none;
    }

    .btnTrial:hover {
        border: 4px solid;
    }

    .h2Trial {
        color: #60092B;
        padding-right: 15%;
    }

    .c7 {
        display: flex;
        justify-content: space-between;
        height: 300px;
        align-items: center;
    }

    /* Ottavo container */
    .faq {
        margin: 40px 0 10px 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .hidden {
        height: 0;
        overflow: hidden;
        text-overflow: clip;
        font-weight: 300;
        transition: height 1s;
        margin-top: 30px;
    }

    .faq:hover > .hidden {
        height: 40px;
    }

    .faq:hover > .rotate {
        transition: transform 1s;
        transform: rotate(180deg);
    }

    /* Nono container */
    .container9 {
        display: flex;
        justify-content: space-between;
        padding: 50px 0;
    }

    .linkContainer {
        display: flex;
        flex-direction: column;
    }

    .linkContainer > a {
        text-decoration: none;
        color: white;
        padding: 10px 0;
    }
/* Classi Atomiche */

.m20 {
    margin: 0 20%;
}

.mTop50 {
    margin-top: 50px;
}

.mBot50 {
    margin-bottom: 50px;
}

.mTB1em {
    margin: 1em 0;
}

.mTB {
    margin: 2em 0;
}

.mL35 {
    margin-left: 35px;
}

.pRL {
    padding: 0 15px;
}

.pTB10 {
    padding: 10px 0;
}

.pT200 {
    padding: 200px 0;
}

.wi60 {
    width: 60%;
}

.wi80 {
    width: 80%;
}

.bold {
    font-weight: bold;
}

.cGray {
    color: #404040;
}

.cWhiteGr {
    color: #ffffff75;
}

.lineH {
    line-height: 22px;
}