* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    z-index: 1;
    width: 100%;
    height: 80px;
    background-color: white;
    box-shadow: 0px 0px 2px 0px #0000006e;
}

footer {
    background-color: #000000;
    color: white;
    min-height: 400px;
}

h1 {
    font-size: 78px;
    font-weight: 800;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 1.5em;
}

ul {
    list-style: none;
}

li {
    display: flex;
    padding: 10px 0;
}

/* Classi Footer */

.nav {
    display: flex;
    align-items: center;
    height: 100%;
}

.nav > a {
    text-decoration: none;
    color: black;
}

.bStart {
    font-size: 15px;
    padding: 5px 10px;
    margin-right: 10px;
}

/* Classi Main */

.bluBackgr {
    position: relative;
    background-color: #B4D0E7;
    padding-top: 70px;
    height: 840px;
    margin-bottom: 150px;
} 

.bluContainer {
    display: flex;
    flex-direction: column;
    margin: 70px 15% 0 15%;
    min-height: 560px;
}

.bContainer {
    display: flex;
}

.bContainerL {
    width: 30%;
}

.bContainerR {
    width: 70%;
}

.jumbo {
    width: 100%;
}

#freccia {
    position: absolute;
    bottom: 1em;
}
    /* Secondo container */
input[type="radio"] {
    width: 1.4em;
    height: 1.4em;
    margin-right: 5px;
}

/* .abbonamenti {
    background-color: greenyellow;
} */

.border {
    border-bottom: 2px solid #d3d3d3cc;
    text-align: center;
    padding: 10px 0;
}

.abbCelle {
    display: flex;
    justify-content: space-between;
}

.cella {
    min-height: 800px;
    width: 30%;
    border: 2px solid #d3d3d3cc;
}

.intCella {
    padding: 20px 25px;
}

li > i {
    margin-right: 5px;
}

.btnCella {
    font-size: 15px;
    padding: 8px 45px;
}

.hrCella {
    width: 20%;
    margin: 35px 0;
    border: 1px solid #d3d3d3cc;
}

.cella4 {
    min-height: 250px;
    border: 2px solid #d3d3d3cc;
}

    /* Terzo container */
    .partner {
        display: flex;
        min-height: 500px;
        padding: 200px 0;
    }

    .btnGray {
        background-color: white;
        border: 1px solid black;
        padding: 13px 20px;
        font-size: 17px;
    }

    /* Quarto container */
    .business {
        background-color: royalblue;
    }

    .wrap {
        display: flex;
        flex-wrap: wrap;
        min-height: 800px;
        justify-content: space-between;
    }

    .cellaWr {
        background-color: blueviolet;
        width: calc(95% / 3);
        margin-top: 25px;
    }

    /* Sesto container */
    .aziendePartner {
        background-color: rosybrown;
        display: flex;
        min-height: 500px;
    }

    .aziende {
        width: 30%;
        display: flex;
        flex-wrap: wrap;
        background-color: palegreen;
    }

    .aziendeC {
        width: 40%;
    }

    .quadrato {
        background-color: yellow;
        width: calc(100% / 2);
    }

    /* Settimo container */
    .container7 {
        background-color: #B4D0E7;
        min-height: 350px;
    }

    .c7 {
        display: flex;
        justify-content: space-between;
        height: 300px;
        align-items: center;
    }

    /* Ottavo container */
    .faq {
        margin: 25px 0;
    }

    /* Nono container */
    .container9 {
        display: flex;
        justify-content: space-between;
    }

    .linkContainer {
        display: flex;
        flex-direction: column;
    }
/* Classi Generiche */

.m20 {
    margin: 0 20%;
}

.mTop50 {
    margin-top: 50px;
}

.mBot50 {
    margin-bottom: 50px;
}

.mTB1em {
    margin: 1em 0;
}

.mTB {
    margin: 2em 0;
}

.pRL {
    padding: 0 15px;
}

.pTB10 {
    padding: 10px 0;
}

.wi80 {
    width: 80%;
}

.btnBlue {
    background-color: #0161FF;
    border: 4px solid #0161FF;
    color: white;
}

.bold {
    font-weight: bold;
}

.cGray {
    color: #404040;
}

.lineH {
    line-height: 22px;
}